@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


body {
    max-width: 1360px;
    margin: auto;
    font-family: 'Roboto';
}

.head {    
    background-image: url('/images/top_bg.jpg');
    background-image: no-repeat;
    color: white;
    height: 760px;

}

/*
.head:after {
    position: absolute;
    overflow: hidden;
    content: '';
    width: 100%;
    min-height: 267px;
    margin-top: -40px;
    box-shadow: 0 0 2px;
    background: white;
    z-index: 1;
}
*/

.head img {
    position: absolute;
    margin-left: 165px;
    padding-top: 53px;
}

.nav {
    padding-left: 500px;
    padding-top: 68px;

}

.nav a, a:visited, a:active, a:hover {
    margin-right: 44px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.nav a {
    text-decoration-color: white;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    float: left;
}

.call_to_action {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 60pt;
    font-weight: 100;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

.call_to_action {
    margin-top: 168px;
    text-align: center;
    font-size: 38pt;
    font-weight: light;
}

.greeting {
    text-decoration-color: black;
    padding-left: 10px;
    width: 505px;
    min-height: 267px;
    margin-top: -160px;
    margin-left: 682px;
    box-shadow: 0 0 2px;
    background: white;
}

.greeting h3 {
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 21px;
    margin-bottom: 30px;
}

.greeting p {
    font-size: 14px;
    font-weight: 200;
    padding-top: 0px;
    padding-left: 22px;
    padding-right: 70px;
    padding-bottom: 0px;
}

.advantage {
    margin-top: -115px;
}

.advantage h3 {
    text-align: left;
    margin-left: 166px;
    font-size: 38pt;
    font-weight: 700;

}

.advantage h4 {
    font-size: 26pt;
    font-weight: 700;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 17px;
}

.advantage__column_wrapper {
    display: flex;
    align-items: baseline;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: auto;
    
}

.advantage__column {
    width: 305px;
    padding-left: 65px;
    text-align: center;
    font-size: 14px;
}

.advantage__column_img {
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.event-table {
    display: table;
    align-self: center;
    text-align: center;
    font-size: 25pt;
    margin-right: auto;
    margin-left: auto; 
    width: 1030px;
    margin-top: 59px;
}

.event-table__head {
    color: white;
    background: #a3cc40;
    border-radius: 15px 15px 0 0;
    margin-top: 80px;
    height: 73px;

}

.event-table__head .event-table__cell:first-of-type {
    text-align: center;
    width: 170px;
    height: 45px;
    padding-left: 30px;
    font-size: 30px;
    font-weight: 700;
}

.event-table__head .event-table__cell:last-of-type {
    text-align: left;
    width: 350px;
    height: 45px;
    padding-left: 100px;
    font-weight: 700;
    font-size: 30px;
}

.event-table__row {
    display: table-row;
    font-size: 22px;
    font-weight: 400;
    width: 180px;
    height: 65px;
    text-align: left;
}


.event-table__cell {
    display: table-cell;
    padding-top: 25px;
    padding-bottom: 20px;    
    width: 350px;
    color: white;
}

.event-table__body .event-table__row:nth-child(even) {
    background: #4b4d4f;
    
}

.event-table__body .event-table__row:nth-child(odd) {
    background: #373737;
    height: 76px;

}

.event-table__body .event-table__cell:nth-child(odd) {
    padding-left: 50px;
    width: 280px;
}

.event-table__bottom_radius {
    background: #4b4d4f;
    border-radius: 0 0 15px 15px;
    height: 15px;
    margin-top: -5px;
}

.event-table__foter {
    color: black;
}

.event-table__cell-more {
    display: table-cell;
    padding-top: 10px;
    padding-right: 25px;
    vertical-align: middle;
    text-align: center;
    width: 100px;
}

.event-table__foter {
    font-size: 14px;
    text-align: center;
    width: 840px;
    padding-top: 35px;
    font-weight: light;
    margin-right: auto;
    margin-left: auto;
}

.gifts {    
    background-image: url('/images/b4_bg.jpg');
    background-image: no-repeat;
    color: white;
    height: 760px;
    text-align: right;
    
}


.gifts_img_wrapper {
    position: absolute;
}

.gifts_img_wrapper img {
    border-radius: 600px;
    box-shadow: 5px 5px 5px black;
    margin-left: 148px;
    margin-top: 18px;
    position: relative;
}

.gifts_text_wrapper {
    display: inline-block;
    height: 800px;
    margin-right: 155px;
}
.gifts h3 {
    padding-top: 200px;
    font-size: 40px;    
}

.gifts p {
    padding-bottom: 5px;
    width: 800px;
}

.gifts_text_wrapper span {
    background-color: #90d23d;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}

.movie_list_wrapper {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}

.movie_list a, a:visited a:active {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.footer {
    background-color: #90d23d;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    height: 200px;
}

.footer_social {
    padding-top: 50px;
}

.form {}