

body {
    max-width: 1355px;
    margin: auto;
}

.head {    
    background-image: url('/images/top_bg.jpg');
    background-image: no-repeat;
    color: white;
    height: 760px;
}

.head img {
    position: absolute;
    margin-left: 155px;
    padding-top: 53px;
}

.nav {
    padding-left: 500px;
    padding-top: 70px;

}
.nav a, a:visited, a:active, a:hover {
    margin-right: 44px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.nav a {
    text-decoration-color: white;
}

.call_to_action {
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
}

.call_to_action {
    margin-top: 270px;
    text-align: center;
    font-size: 40px;    
}

.greeting {
    text-decoration-color: black;
    padding-left: 10px;
    width: 500px;
    min-height: 300px;
    margin-top: -200px;
    margin-left: 680px;
    box-shadow: 0 0 2px;
    background: white;
}

.greeting h3 {
    font-weight: bold;
    font-size: 40px;
}

.greeting p {
    font-size: 13px;
}

.advantage {
    margin-top: -100px;
}

.advantage h3 {
    text-align: left;
    margin-left: 250px;
    font-size: 40px;

}

.advantage_column {
    display: inline-block;
    width: 350px;
    text-align: center;
    vertical-align: top;
    margin-left: 50px;
}

.advantage_column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.event_table h2 {
    text-align: center;
    font-size: 40px;
}

.event_table table {
    width: 1030px;
    margin: auto;
    color: white;
    border-spacing: 0;
}

.event_table th {
    background: #a3cc40;
    font-size: 28px;
}

.event_table th:nth-last-of-type(even) {
    text-align: left;
}

.event_table  tr:nth-child(even) {
    background-color:  #373737;
}

.event_table tr:nth-child(odd) {
    background-color:  #4b4d4f;
}

.event_table td {
    font-size: 18px;
}

.event_table td:nth-last-of-type(odd) {
    text-align: center;
}

.event_table p {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 265px;
    margin-right: 250px;
    text-align: center;
}

.gifts {    
    background-image: url('/images/b4_bg.jpg');
    background-image: no-repeat;
    color: white;
    height: 760px;
    text-align: right;
    
}


.gifts_img_wrapper {
    position: absolute;
}

.gifts_img_wrapper img {
    border-radius: 600px;
    box-shadow: 5px 5px 5px black;
    margin-left: 148px;
    margin-top: 18px;
    position: relative;
}

.gifts_text_wrapper {
    display: inline-block;
    height: 800px;
    margin-right: 155px;
}
.gifts h3 {
    padding-top: 200px;
    font-size: 40px;    
}

.gifts p {
    padding-bottom: 5px;
    width: 800px;
}

.gifts_text_wrapper span {
    background-color: #90d23d;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}

.movie_list_wrapper {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}

.movie_list a, a:visited a:active {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.footer {
    background-color: #90d23d;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    height: 200px;
}

.footer_social {
    padding-top: 50px;
}