/** Шрифты */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/** Общие стили */

html {
    font-size: 16px;
}

/** все вложенные элементы наследуют от родителя,
    если ни у одного родителя box-sizing не был изменен
    возьмется из html
*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    -webkit-text-size-adjust: 100%
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

h2 {
    font-size: 45px;
    font-weight: 300;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
}

/** Сетка макета */
.content-wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 1366px;
}

header {
    display: flex;
}

.header__content {
    font-size: 18px;
}

.header_wrapper {
    margin: 55px 50px 0 54px; 
}

.hamburger-menu {
    margin-bottom: 74px;
}

.menu {
    display: none;
}

.header-titile-top {
    letter-spacing: 1px;
    display: block;
    margin-bottom: 17px;
}

.header-titile-middle {
    letter-spacing: 1px;
    font-weight: bold;
    display: block;
    margin-bottom: 17px;
}

.header-titile-bottom {
    letter-spacing: 1px;
    font-weight: normal;
    display: block;
    margin-bottom: 55px;
}

.header__p {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 30px;
}

main {
    display: flex;
}

.main__left {
    background-image: url('/img/bg-middle-left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__left-wrapper {
    width: 614px;
}

.main__left-content {
    padding: 72px 60px 0 61px;
    letter-spacing: 1px;
    color: white;
    font-weight: normal;
    line-height: 28px;
}

.main__h2 {
    margin-bottom: 43px;
}

.main__p {
    margin-bottom: 86px;
}

.main__left-content > .main__p:last-child {
    margin-bottom: 60px;
}

.h-span {
    font-weight: bold;
    letter-spacing: 2px;
}

.main__right-wrapper {
    display: flex;
    flex-direction: column;
}

.main__right-content {
    padding: 75px 125px 0 55px;
    letter-spacing: 1px;
    line-height: 28px;   
}

.main__right-top {    
    background-image: url('/img/bg-middle-right-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__right-bottom {    
    background-image: url('/img/bg-middle-right-bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.main__right-content > .main__p {
    margin-bottom: 48px;
}

.btn-more {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 0 71px 0;
    padding: 10px 38px;
    color: black;
}

.main__right-bottom .btn-more {
    border: 1px solid white;    
    padding: 10px 42px;
    color: white;
}